<div class="container mt-5" style="width: 30%">
    <div class="card mb-5">
        <div class="card-header text-center">Asignar Horarios</div>
        <div class="card-body">

            <form id="Horario" action="/AsignarHorario" method="post">

                <h4 class="text-center">Nombre del docente/estudiante</h4>
                <div class="input-group mb-3 select">
                    <select name="usuario" id="usuario" class="form-select">
                        <option value="0" selected disabled>Elige una opción</option>
                        {{#each usuario}}
                            <option value="{{id_usuario}}">{{nombre_rol}}:
                                {{nombre}}
                                {{apellido}}</option>
                        {{/each}}
                    </select>
                </div>

                <h4 class="text-center">Horarios</h4>
                <div class="input-group mb-3 select">
                    <select name="horario" id="horario" class="form-select">
                        <option value="0" selected disabled>Elige una opción</option>
                        {{#each horario}}
                            <option value="{{id_horario}}">{{dia_s}}:
                                {{hora_ini}}-{{hora_fin}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="text-center py-3">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#miModal"
                    >
                        Asignar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>