<div class="container mt-5" style="width: 30%">
    <div class="card mb-5">
        <div class="card-header text-center">Gestion de Horarios</div>
        <div class="card-body">

            <form id="Horario" action="/nuevohorario" method="post">

                <h4 class="text-center">Nombre del docente</h4>
                <div class="input-group mb-3 select">
                    <select name="nombres" id="nombred" class="form-select">
                        <option value="0" selected disabled>Elige una opción</option>
                        {{#each docente}}
                            <option value="{{id_usuario}}">{{nombre}}
                                {{apellido}}</option>
                        {{/each}}
                    </select>
                </div>

                <h4 class="text-center">Escoja la carrera</h4>
                <div class="input-group mb-3 select">
                    <select name="carrera" id="carrera" class="form-select">
                        <option value="0" selected disabled>Elige una opción</option>
                        <option value="IES">Ing. en Sistemas</option>
                        <option value="ITI">Ing. en Tecnologías de la
                            información</option>
                    </select>

                </div>

                <h4 class="text-center">Escoja el Nivel</h4>
                <div class="input-group mb-3 select">
                    <select name="nivel" id="nivel" class="form-select">
                        <option value="0" selected disabled>Elige una opción</option>
                        {{#each nivel}}
                            <option value="{{id_nivel}}">{{nomb_nivel}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="text-center py-3">
                    <input
                        type="submit"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#miModal"
                        id="boton"
                        value="Siguiente"
                    >   
                    </input>
                </div>

            </form>
        </div>
    </div>
</div>